<!DOCTYPE html>
<html>
<head>
  <title>Profile App</title>
</head>
<body>

  <header>
    <a href="/">Home</a>
    <a href="/profile">Profile </a> 
    <a href="/browse"> Browse </a>
    {% if user.is_authenticated %}
    
    <a href="/logout">Logout</a>
      Hello, user!
    <a href="/edit_purchase"> Edit purchases</a>
    <a href="/make-user"> Make a new user...</a>
    {% else %}
    
    <a href="/login">Login</a>
      Hello, guest!
    <a href="/register"> register...</a>
    {% endif %}
  </header>

  {% block content %}
  {% endblock %}

</body>
</html>