{% extends 'base.html' %}

{% block content %}

<h1>Profile</h1>

<p>ID: {{ information.id }}</p>

<p>Username: {{ information.username }}</p>

<p>Email: {{ information.email }}</p>

<p>Given Name: {{ information.given_name }}</p>

<p>Family Name: {{ information.family_name }}</p>

<p>Can Buy: {{ information.can_buy }}</p> 

<p>Can Sell: {{ information.can_sell }}</p>

<p>Diets: 
	{% for die in information.diet %}
		{{ die }}
	{% endfor %}
</p>

<p>Rating: {{ rating }}</p>

<p>Location: {{ location }}</p>

{% endblock %}